@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Page fade animation */
  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 0.5s forwards;
  }

  .fade-out {
    opacity: 1;
    animation: fadeOutAnimation 0.3s forwards;
  }

  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOutAnimation {
    to {
      opacity: 0;
    }
  }

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #282a36;
    /*bg settings*/
    background-image: url('../assets/signinbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}
::selection {
  background: #24BED3;
  color: #fff;
}
.container{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 780px;
  background-color: #ffffff00;
  backdrop-filter: blur(15px);
  border: 2px solid #000D1C;
  border-radius: 15px;
}
.wrapper {
  margin-left: -2px;
  overflow: hidden;
  min-width: 480px;
  background: #000D1C;
  padding: 60px 80px 60px 80px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
}
.wrapper .title {
  width: 50%;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 20px 0 0px 0;
  justify-content: space-between;
  border: 2px solid #C1C1C1;
  border-radius: 15px;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left, #033e78, #044d97, #1c86b0, #24BED3);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}
#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #fff;
}
#login:checked ~ label.signup {
  color: #fff;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 15px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  border-width: 0 0 2px 0;
  font-size: 17px;
  transition: all 0.3s ease;
  background-color: #000D1C;
}
.form-inner form .field input:focus {
  border-color: #24BED3;
  box-shadow: inset 0 0 3px #24BED3;
  border-radius: 5px;
}
.form-inner form .field input::placeholder {
  color: #ffffff;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #24BED3;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #24BED3;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: #24BED3;
  border-radius: 15px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
  background: #67deed;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
form .feedbackLogado{
  display: none;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: green;
}
form .feedbackNaoLogado{
  display: none;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: red;
}

.wrapper2{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #000D1C;
  align-items: center;
  position: relative;
}
.wrapper2 img{
  position: absolute;
}
.wrapper2 .dice{
  position: absolute;
  top: 120px;
  left: -22px;
}
.wrapper2 .logo{
  right: 8px;
  top: 8px;
}
.wrapper2 b{
  margin-top: 85px;
  width: 300px;
  text-align: center;
  font-weight: 900;
}
input[type="text"], input[type="password"] {
  color: white;
}
