<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="32x32" href="../assets/favicon.ico" type="image/x-icon">

    <!-- Linkagem do style (.css) da pagina de Login -->
    <link rel="stylesheet" type="text/css" href="signIn.css" media="screen" />
    <title>Login</title>
</head>

<body class="fade-in">
<!-- partial:index.partial.html -->
<div class="container">
    <div class="wrapper">

        <div class="link-home">
            <a href="../Home/home.html" class="mini-link">🏠 Voltar para Home</a>
        </div>

        <div class="title-text">
            <div class="title login">Entrar na Conta</div>
        </div>
        <div class="form-container">

            <!-- Botões deslizantes de Entrar/Cadastrar -->
            <div class="slide-controls">
                <input id="signup" type="radio" name="slide">
                <input id="login" type="radio" name="slide" checked>
                <label for="login" class="slide login">Entrar</label>
                <label for="signup" class="slide signup">Cadastrar</label>
                <div class="slider-tab"></div>
            </div>

            <!-- Formulario de Login do usuario -->
            <div class="form-inner">
                <form id="loginForm" class="login">
                    <div class="field">
                        <input id="loginEmail" type="text" placeholder="Email" required>
                    </div>
                    <div class="field">
                        <input id="loginPassword" type="password" placeholder="Senha" required>
                    </div>

                    <br>  <!-- Cambiarra para espaço vazio (Arrumar no .css) -->
                    <br>  <!-- Cambiarra para espaço vazio (Arrumar no .css) -->

                    <!-- Botão para enviar o formulario de Login -->
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Login">
                    </div>

                    <br> <!-- Cambiarra para espaço vazio (Arrumar no .css) -->

                    <!-- Feedback de sucesso ou erro ao tentar logar -->
                    <p class="feedbackLogado"></p>
                    <p class="feedbackNaoLogado"></p>
                </form>
            </div>
        </div>
    </div>

    <!-- Parte de design do container (Logo, imagens e texto) -->
    <div class="wrapper2">
        <img class="logo" src="../assets/blacktextlogo.png" height="30px">
            <b>Convide amigos e ganhe bônus para apostar mais!</b>
        <img class="dice" src="../assets/dice.png" height="400px">
    </div>
</div>

    <!-- Linkagem do script (.js) da pagina de login -->
    <script src="signIn.js"></script>
</body>
</html>
