@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    width: 100%;
    background: #00050B !important;
    color: #fff;
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #00050B;
    border-bottom: 2.2px solid #000D1C;
    z-index: 10;
}

.menu-icon {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    cursor: pointer;
    color: #fff;

}
.logo{
    display: flex;
    margin-left: 20px;
}
.logo img {
    margin-right: 8px;
}

.logo-text {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}
.headermiddle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.balance {
    display: none;
    align-items: center;
    padding: 8px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
}
.balance:hover{
    background-color: #ffffff2a;
    cursor: pointer;
}
.wallet-icon {
    margin-right: 5px;
}
.logout-btn {
    padding: 8px 20px;
    background-color: #00BFFF;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #009ACD;
}
.sidebar{
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #00050B;
    border-right: solid 2.2px #000D1C;
    padding-top: 90px;
    color: #fff;
    align-items: center;
}
.sidebar-list{
    display: none;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.sidebar-items{
    width: 220px;
    padding: 8px 0px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
    background-color: #000D1C;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #000D1C;
    background-image: linear-gradient(91deg, #000D1C 24.89%, #0088ffaa 41.03%, #2acaff 55.67%, #0088ffaa 76.24%, #2590edaa 85.67%, #2acaff 102.51%);
    background-repeat: no-repeat;
    background-size: 400%;
    background-position-x: 0;
    transition: background-position 800ms ease-out .001s;
}
.sidebar-items:hover{
    background-position-x: 100%;
    transition: background-position;
    box-shadow: 0px 0px 14px -7px #00BFFF;
}
.sidebar-items:active{
    transform: scale(0.95);
}
.main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    padding-top: 90px;
    padding-right: 50px;
    padding-bottom: 30px;
    background-color: #00050B;
    height: calc(100vh - 90px); /* ajusta a altura do .main para ocupar a tela toda, menos o header */
}
.main .main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* define 2 colunas de tamanhos iguais */
    gap: 30px;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}
.search-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-bar{
    width: 400px;
    margin-bottom: 40px;
    float: left;
}
.filters {
    display: flex; /* Use flexbox para alinhar os botões */
    justify-content: flex-end; /* Alinha à direita */
    align-items: center; /* Alinha verticalmente no centro */
}

.filters button {
    background-color: #000D1C;
    border: solid 0px;
    color: white;
    margin-left: 10px;
}

.filters button:hover {
    background-color: #009ACD;
}

.filters button:active {
    background-color: #009ACD !important;
    transform: scale(0.95);
}

.dropdown-menu {
    left: 0; /* Alinha o dropdown ao botão */
}

#search{
    border: none;
}
.grid-item {
    position: relative;
    display: flex;
    background-color: #000D1C;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    height: 200px;
    transition: ease 0.5s;
    background-size: cover;
    background-position: center;
}
.grid-item:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Escurece levemente no hover para destacar o texto */
    transform: scale(0.95);
}
.grid-item .titulo-categoria{
    position: absolute;
    top: 10px;
    left: 17px;
    text-align: left;
}
.grid-item .apostas-data{
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: end;
}
.grid-item .descricao{
    position: absolute;
    bottom: 15px;
    left: 18px;
    text-align: end;
}
.blur{
    cursor: pointer;
    position: absolute;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    background-color: #00050B91;
    backdrop-filter: blur(8px);
    display: none;
}
.popup-cadastro-evento{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    width: 900px;
    height: 550px;
    background-color: #031933;
    z-index: 12;
    border-radius: 10px;
    display: none;
    color: #fff;
}
.popup-cadastro-evento .left{
    display: flex;
    width: 500px;
    height: 100%;
    flex-direction: column;
    border-right: solid 2px #1a273a;
    padding: 32px;
    float: left;
}
.popup-cadastro-evento .right{
    display: flex;
    flex-direction: column;
    padding: 32px;
    height: 100%;
    width: 400px;
    float: right;
}
.form-group-item{
    margin-top: 25px;
}
.form-group-item .submit-btn{
    margin-top: 15px;
}
.submit-btn {
    background: linear-gradient(to right, #1c92d2, #16b7ed); /* Cores de gradiente */
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: linear-gradient(to right, #2296d5, #1fbaed); /* Efeito hover */
}
.close-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    cursor: pointer;
}
.close-popup:hover{
    background-color: #1c92d2;
}

.feedbackNaoEncontrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 120px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hidden {
    display: none;
}

form .feedbackCriado{
    display: none;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: green;
}
form .feedbackNaoCriado{
    display: none;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: red;
}
.wallet-alert{
    margin: 0 auto; 
    background: #00BFFF;
    font-family: 'open sans';
    font-size: 1em;
    line-height: 1.6em;  
    border-radius: 15px;
    width: 320px;
    height: auto;
    color: #fff;
    padding: 20px;
    margin-top: 30px;
    position: absolute;
    top: 29px;
    right: 60px;
    z-index: 100;
}
.wallet-alert:after{ /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #00BFFF;
    top: -20px;
    left: 60%;
}
.close-wallet-alert{
    background-color: #fff;
    color: #00050B;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-left: 0px;
    width: 280px;
    transition: background-position 800ms ease-out .001s;
}
.close-wallet-alert:hover{
    transform: scale(0.95);
    background-color: #f44848;
    color: #fff;
}