<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/home.css" media="screen" />
    <title>Página Inicial</title>
</head>
<body>
    <header class="header">
        <div class="menu-icon">
            <span>&#9776;</span> <!-- Ícone do menu (hambúrguer) -->
            <div class="logo">
                <img src="assets/whitetextlogo.png" alt="Wager Logo" height="30">
            </div>
        </div>
        <div class="header-right">
            <div class="balance">
                <span class="wallet-icon">💼</span> <!-- Ícone de carteira -->
                <span>83,50 BRL</span>
            </div>
            <a href="signin.html"><button class="logout-btn">Sair</button></a>
        </div>
    </header>
</body>
</html>
