@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    width: 100%;
    background: #00050B !important;
    color: #fff;
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #00050B;
    border-bottom: 2.2px solid #000D1C;
    z-index: 10;
}

.menu-icon {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    cursor: pointer;
    color: #fff;

}
.logo{
    display: flex;
    margin-left: 20px;
}
.logo img {
    margin-right: 8px;
}

.logo-text {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btnVoltar {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
}
.btnVoltar:hover{
    background-color: #ffffff2a;
    cursor: pointer;
}
.wallet-icon {
    margin-right: 5px;
}
.logout-btn {
    padding: 8px 20px;
    background-color: #00BFFF;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #009ACD;
}
.main{
    height: auto;
    margin-top: 62px;
    width: 100%;
    padding: 50px 300px 50px 300px;
    color: #fff;
}

.subtitle {
    font-size: 1rem; /* Ajuste o tamanho para algo menor que o h1 */
    font-weight: 400; /* Regular para parecer mais sutil */
    color: #adb5bd; /* Cinza claro para contraste menor */
    line-height: 1.5; /* Para melhor legibilidade */
    margin-top: -10px; /* Ajuste se precisar aproximar do título */
}

.feedbackNaoEncontrado {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    height: auto;
    width: auto;
    margin-left: 0;
}

.aprovado {
    background-color: green;
    color: white;
}

.reprovado {
    background-color: red;
    color: white;
}

.excluido {
    background-color: black;
    color: white;
}

.pendente {
    background-color: #979700;
    color: black;
}

.finalizado {
    background-color: #24bed3;
    color: white;
}